# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
# illustrator-files
*.ai
# photoshop-files
*.psd
# google drive things
desktop.ini